name: Node Docker Conatainer

on: push

jobs:
  node-docker-container:
    runs-on: ubuntu-latest
    container:
      image: node:13.5.0-alpine3.10
    steps:
      - name: Log Node Version
        run: |
          node -v
          cat /etc/os-release
