name: Node Docker Conatainer

on: push

jobs:
  node-docker-container:
    runs-on: ubuntu-latest
    container:
      image: node:13.5.0-alpine3.10
    steps:
      - name: Log Node Version
        run: |
          node -v
          cat /etc/os-release
  running-multiple-container-like-docker-compose:
    runs-on: ubuntu-latest
    services:
      app:
        image: alialaa17/node-api
        ports:
          - 3000:3000
      mongo:
        image: mongo
        ports:
          - "27017:27017"
    steps:
      - name: Post a user
        run: "curl -X POST http://localhost:3000/api/user -H ''Content-Type: application/json'' -d '{\"username\":\"hello\",\"address\":\"dwed\"}'"
      - name: Get User
        run: curl http://localhost:3000/api/users  